// ================ PROFILE ================ //
.profile
  display: flex
  flex-direction: column
  gap: 5px
  &__wrap
    display: flex
    flex-direction: column
    gap: 40px
    padding: 60px 40px
  &__title
    font-size: 100px
    line-height: 0.8
    font-family: var(--font-secondary)
    text-transform: uppercase
    max-width: 80%
    font-weight: bold
  &__dob
    font-weight: bold
  &__avatar
    max-height: 250px
    object-fit: cover
    border-radius: 10px
  &__strong
    font-weight: bold
  &__btn
    text-align: right
    font-size: 46px
    padding: 20px 40px
    &::after
      content: ' >'


