.posts
  display: flex
  flex-direction: column
  gap: 40px
  &__title
  &__inner
      display: flex
      flex-direction: column
      gap: 40px
  &__textarea
    border-radius: 10px
    background: #e2e2e2
    border: 3px solid var(--color-main)
    padding: 20px
    font-family: var(--font-main)
    resize: none
    min-height: 150px
  &__btn
    padding: 20px 40px
  &__list
    display: flex
    flex-direction: column
    gap: 20px
