@import 'reset-css'--color-main
@import './fonts/stylesheet.css'
@import './fonts/fonts'

:root
  --font-main: 'Arame'
  --font-secondary: 'Mars Model'

  --color-main: #000
  --color-secondary: #fff

#root
  background: var(--color-main)
  padding-top: 20px

a
  text-decoration: none

body
  margin: 0
  box-sizing: border-box
  text-transform: uppercase
  *
    box-sizing: border-box
.wrapper
  display: grid
  grid-template-columns: repeat(8, 1fr)
  align-content: start
  align-items: start
  gap: 5px
  font-family: var(--font-main)

.container
  max-width: 1800px
  margin: 0 auto
  padding: 0 15px
.box
  background-color: #fff
  border-radius: 10px
  padding: 20px 40px

.btn
  background-color: var(--color-main)
  border-radius: 10px
  padding: 10px 20px
  color: #fff
  font-family: var(--font-secondary)
  border: 1px solid #fff
  cursor: pointer
  transition: 0.3s
  text-transform: uppercase
  &:hover
    background: #fff
    color: var(--color-main)
    transition: 0.3s
    border-color: var(--color-main)

.main
  grid-column: 1/6
  border-radius: 10px

.player
  &-scroll
    position: fixed
    left: 0
    right: 0
    bottom: 0
    width: 100%
    box-sizing: border-box
    max-width: 1800px
    margin: 0 auto
    border: 1px solid var(--color-secondary)
    background: var(--color-main)
    color: var(--color-secondary)

@media screen and (max-width: 768px)
  .wrapper
    grid-template-columns: repeat(1, 1fr)

  .main
    grid-column: 1/-1

  .box
    padding: 15px 10px
