@import 'reset-css'--color-main
@import './fonts/stylesheet.css'
@import './fonts/fonts'

:root
  --font-main: 'Arame'
  --font-secondary: 'Mars Model'

  --color-main: #000
  --color-secondary: #fff
  --color-support: #a8a8a8
  --color-support-secondary: #dddddd

#root
  background: var(--color-main)
  padding-top: 20px
*
  box-sizing: border-box
a
  text-decoration: none
  &:hover
    color: red

.input-text,
.textarea
  border-radius: 5px
  background: #e2e2e2
  font-family: var(--font-main)
  resize: none
  height: 25px
  width: 100%
  border: none
  padding: 10px
.input-text
  &:focus
    outline: 2px solid var(--color-main)
.textarea
  &:focus
    outline: 2px solid var(--color-main)

body
  margin: 0
  box-sizing: border-box
  text-transform: uppercase

.wrapper
  display: grid
  grid-template-columns: repeat(8, 1fr)
  align-content: start
  align-items: start
  gap: 5px
  font-family: var(--font-main)
  min-height: 100vh

.container
  max-width: 1200px
  margin: 0 auto
  padding: 0 15px

.box
  background-color: #fff
  border-radius: 10px
  padding: 20px

.btn
  background-color: var(--color-main)
  border-radius: 10px
  padding: 10px 20px
  color: #fff
  font-family: var(--font-secondary)
  border: 1px solid #fff
  cursor: pointer
  transition: 0.3s
  text-transform: uppercase
  &:hover
    background: #fff
    color: var(--color-main)
    transition: 0.3s
    border-color: var(--color-main)

.main
  grid-column: 1/7
  border-radius: 10px

.player
  &__controls
    display: flex
    align-items: center
    gap: 15px
  &__cover
    height: 100%
    width: 50px
    height: 50px
    object-fit: cover
    border-radius: 5px
  &__btn
    background: none
    border: none
    cursor: pointer
    display: flex
    align-items: center
    &-icon
      width: 16px
  &__currents
    display: flex
    flex: 1
    align-items: center
    gap: 10px
  &__duration
    height: 8px
    border-radius: 3px
    width: 100%
    background: var(--color-support)
    position: relative
    cursor: pointer
    &::before
      content: ('')
      position: absolute
      height: 100%
      background: var(--color-main)
      left: 0
      top: 0
      right: 0
      bottom: 0
      width: 20%
      z-index: 1
      border-radius: 3px
  &-scroll
    position: fixed
    left: 0
    right: 0
    bottom: 0
    width: 100%
    box-sizing: border-box
    max-width: 1800px
    margin: 0 auto
    background: var(--color-main)
    color: var(--color-secondary)
    .player__duration
      &::before
        content: ('')
        background: var(--color-secondary)
    &__wrapper
      display: flex
      align-items: center
      padding: 5px 15px
      gap: 20px

@media screen and (max-width: 768px)
  .wrapper
    grid-template-columns: repeat(1, 1fr)

  .main
    grid-column: 1/-1

  .box
    padding: 15px 10px

// PLAYER
