.dialogs
    display: grid
    grid-template-columns: 1fr 2fr
    gap: 20px
    &__wrapper
        display: flex
        flex-direction: column
        gap: 5px
        max-height: 75vh
        overflow-y: scroll
        padding: 5px 10px 0 2px
    &__items
        display: flex
        flex-direction: column
        gap: 5px
    &__search
        position: sticky
        top: 0

.dialog
    display: flex
    align-items: center
    gap: 10px
    padding: 5px
    border-radius: 5px
    cursor: pointer
    &:hover
        background: var(--color-main)
        .dialog__name
            color: var(--color-secondary)
        .dialog__preview
            color: var(--color-support-secondary)
    &__avatar
        max-width: 50px
        object-fit: cover
        border-radius: 5px
    &__name
        color: var(--color-main)
        font-weight: bold
    &__preview
        // white-space: nowrap
        color: var(--color-support)

.messages
    display: flex
    flex-direction: column
    justify-content: end
    gap: 15px
    max-height: 80vh
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: end
        gap: 15px
        max-height: 70vh
        min-height: 70vh
        overflow-y: scroll
    &__item
        display: flex
        gap: 5px
        max-width: 350px
    &__avatar
        align-self: start
        width: 30px
        height: 30px
        object-fit: cover
        border-radius: 5px
        position: sticky
        top: 0
    &__message
        background: var(--color-support-secondary)
        padding: 10px
        font-size: 14px
        border-radius: 5px
    &_my
        justify-self: end
    &__controls
        display: flex
        gap: 10px
    &__btn
        cursor: pointer
    &__btn-icon
        width: 25px
    &__textarea
        height: auto
        min-height: 30px
